[submodule "external/SPIRV-Reflect"]
	path = external/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
[submodule "external/SPIRV-Tools"]
	path = external/SPIRV-Tools
	url = git@github.com:KhronosGroup/SPIRV-Tools.git
[submodule "external/SPIRV-Headers"]
	path = external/SPIRV-Headers
	url = git@github.com:KhronosGroup/SPIRV-Headers.git
